<!-- Zone d'affichage des information de l'étiquette -->
<form>

    <!-- Texte de l'image -->
    <div class="row">
        <div class="col-4">
            <label>Text :</label>
        </div>
        <div class="col-8">
            <input type="text" name="texte" value="{{texte}}" class="form-control" id="labelTitle" placeholder="TODO">
        </div>
    </div>

    <!-- Classe de l'image -->
    <div class="row">
        <div class="col-4">
            <label>Class :</label>
        </div>
        <div class="col-8">
            <input type="text" name="classe" value="{{classe}}" class="form-control" id="labelTitle" placeholder="TODO">
        </div>
    </div>

    <!-- Coordonnées de l'étiquette -->
    <div class="row">
        <div class="col-4">
            <label>Coordinates :</label>
        </div>
        <div class="col-4">
            <input type="number" name="coordX" value="{{coordX}}" class="form-control" id="labelXPos" placeholder="TODO" (change)="actualiserEtiquette($event)">
            <small>xPos</small>
        </div>
        <div class="col-4">
            <input type="number" name="coordY" value="{{coordY}}" class="form-control" id="labelYPos" placeholder="TODO" (change)="actualiserEtiquette($event)">
            <small>yPos</small>
        </div>
    </div>

    <!-- Taille de l'étiquette -->
    <div class="row">
        <div class="col-4">
            <label>Size :</label>
        </div>
        <div class="col-4">
            <input type="number" name="tailleX" value="{{tailleX}}" class="form-control" id="labelWidth" placeholder="TODO" (change)="actualiserEtiquette($event)">
            <small>width</small>
        </div>
        <div class="col-4">
            <input type="number" name="tailleY" value="{{tailleY}}" class="form-control" id="labelHeight" placeholder="TODO" (change)="actualiserEtiquette($event)">
            <small>height</small>
        </div>
    </div>
</form><br><br>

<!-- Zone d'affichage de la liste des étiquette de l'image -->
<div class="container align-bottom">
    <label id="labelsSelectText" class="col-4">Label list :</label>
    <select id="labelsSelect" class="form-select" multiple aria-label="multiple select example">
        <option *ngFor="let etiquette of listEtiquetteActu">{{etiquette.text}}</option>
    </select>
</div><br><br>

<!-- Bouton de sauvegarde -->

<button type="button" (click)="eventSauvegarderEtiquette()"class="button"><span class="text">Sauvegarder</span></button>