<form>
    <div class="row">
        <div class="col-4">
            <label>Titre :</label>
        </div>
        <div class="col-8">
            <input type="text" class="form-control" id="labelTitle" placeholder="TODO">
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <label>Position :</label>
        </div>
        <div class="col-4">
            <input type="text" class="form-control" id="labelXPos" placeholder="TODO">
            <small>xPos</small>
        </div>
        <div class="col-4">
            <input type="text" class="form-control" id="labelYPos" placeholder="TODO">
            <small>yPos</small>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <label>Size :</label>
        </div>
        <div class="col-4">
            <input type="text" class="form-control" id="labelWidth" placeholder="TODO">
            <small>width</small>
        </div>
        <div class="col-4">
            <input type="text" class="form-control" id="labelHeight" placeholder="TODO">
            <small>height</small>
        </div>
    </div>
</form>


