<!-- Racine -->
<!-- On crée une DIV ayant pour taille toute la taille de l'écran -->
<div class="container-fluid text-center min-vh-100 min-vm-100">

    <!-- On crée une ligne -->
    <div class="row min-vh-100">

        <!-- On crée la colonne de la SidebarGauche -->
        <div class="col-2 border">
            <app-sidebar-gauche 
            [sbgLancerEventAjoutEtiquetteVersPageEdition]="pageEditionAjouterEtiquetteVersImage"
            [sbgLancerEventSupprimerEtiquetteVersPageEdition]="pageEditionSupprimerEtiquetteVersImage"
            [sbgLancerEventCentrerCameraVersPageEdition]="pageEditionCentrerCameraVersImage"></app-sidebar-gauche>
        </div>

        <!-- On crée la colonne de la zone d'affichage de l'Image -->
        <div id="editionCol" class="col-7 border d-flex align-items-center justify-content-center">
            <app-image [imageEnvoyerInfoVersPageEdition]="pageEditionEnvoyerInfoVersSbd"></app-image>
        </div>

        <!-- On crée la colonne de la SidebarDroite-->
        <div class="col-3 border">
            <app-sidebar-droite [sbdLancerEventSauvegarderEtiquetteVersPageEdition]="pageEditionSauvegarderEtiquettesVersImage"></app-sidebar-droite>
        </div>

    </div>

</div>