<!-- Zone d'affichage des boutons -->


    <div class="container">
        <div class="row row-cols-6">
            <div class="col"><button type="button" class="button btn-sm"
                    (click)="retourPagePrincipale()">Retour</button></div>
            <div class="col"><button type="button" (click)="eventBoutonAjouterEtiquette()" class="button btn-sm"><span
                        class="text">Ajouter une étiquette</span></button></div>
            <div class="col"><button type="button" (click)="eventBoutonSupprimerEtiquette()" class="button btn-sm"><span
                        class="text">Supprimer une étiquette</span></button></div>
            <div class="col"><button type="button" (click)="eventBoutonCentrerCamera()" class="button btn-sm"><span
                        class="text">Recentrer</span></button></div>
            <div class="col"><button type="button" class="button btn-sm" (click)="afficherImagePrecedente()"><i
                        class="bi bi-arrow-left"></i></button></div>
            <div class="col"><button type="button" class="button btn-sm" (click)="afficherImageSuivante()"><i
                        class="bi bi-arrow-right"></i></button></div>
        </div>
    </div>
