<!-- Zone d'affichage des boutons -->
<div>

    <!-- Bouton d'ajout d'une étiquette -->
    <button type="button" (click)="eventBoutonAjouterEtiquette()" class="btn btn-primary">Add</button>

    <!-- Bouton de suppression d'une étiquette -->
    <button type="button" (click)="eventBoutonSupprimerEtiquette()" class="btn btn-primary">Delete</button>

    <!-- Bouton de centrage de l'image -->
    <button type="button" (click)="eventBoutonCentrerCamera()"class="btn btn-primary">Center</button>

</div>

